NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.rk2xloh.mongodb.net/
MONGODB_DB=elpais_news_intelligence
LOG_LEVEL=info

# Scraper and scheduling
SCRAPER_CRON=0 0 * * *
USE_BROWSERSTACK=false

# BrowserStack credentials
BROWSERSTACK_USERNAME=your_browserstack_username
BROWSERSTACK_ACCESS_KEY=your_browserstack_access_key
BROWSERSTACK_HUB_URL=https://hub-cloud.browserstack.com/wd/hub
BROWSERSTACK_BUILD_NAME=El pais scraper build #2

# Translation settings
TRANSLATE_ENGINE=libre
TRANSLATE_API_URL=https://libretranslate.de/translate
TRANSLATE_API_KEY=your_translation_api_key

# Dashboard
VITE_API_BASE_URL=http://localhost:5000/api
